altair==5.3.0
openai==1.23.6
streamlit==1.33.0
faiss-cpu==1.8.0
langchain==0.1.16
pypdf==4.2.0
sentence-transformers==2.7.0
beautifulsoup4==4.12.3
requests-html==0.10.0
tenacity==8.2.3
langchain-openai==0.1.5
pytz==2024.1
requests==2.31.0
requests-html==0.10.0
lxml_html_clean==0.1.1
sqlalchemy==2.0.23
pymysql==1.1.0
streamlit-searchbox==0.1.12
thefuzz==0.22.1
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
pydantic~=2.8.2
bs4~=0.0.2